*{
    box-sizing: border-box;
}
html{
    font-size: 100%;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    animation: Background 12s ease-in-out infinite;
}
@keyframes Background {
    0%, 100%{
        background-image: url("images/background1.webp");
    }
    33%{
        background-image: url("images/background2.webp");
    }
    66%{
        background-image: url("images/background3.webp");
    }
}
main{
    padding: 0 5vw;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(217, 105, 95, 0.8)
}
img[alt="Logo"]{
    width: 200px;
    margin-bottom: 2rem;
}
section{
    padding-right: 2em;
}
h1{
    font-size: 4rem;
    font-weight: bold;
}
p{
    font-size: 1.64rem;
    max-width: 700px;
}
.icon-container{
    margin-top: 5em;
}
.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icon{
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2em;
    border: 2px solid white;
    border-radius: 50%;
}
.icon:hover{
    transition-duration: 0.3s;
    transform: scale(1.2);
}
img[alt="Logo2"]{
    margin-top: 3rem;
}
.address{
    display: flex;
    align-items: center;
    text-align: left;
    margin-top: 1rem;
}
.address p{
    margin-left: 0.5em;
}
@media (max-width: 1498px){
    img[alt="Gear"]{
        width: 400px;
    }
    html{
        font-size: 80%;
    }
}
@media (max-width: 1198px){
    img[alt="Gear"]{
        width: 300px;
    }
    html{
        font-size: 70%;
    }
}
@media (max-width: 992px){
    img[alt="Gear"]{
        width: 200px;
    }
    html{
        font-size: 60%;
    }
    img[alt="Logo"]{
        width: 150px;
    }
    .icon{
        width: 50px;
        height: 50px;
    }
    .icon img{
        width: 30px;
    }
}
@media (max-width: 768px){
    img[alt="Gear"]{
        display: none;
    }
    section{
        padding: 0;
    }
    main{
        justify-content: center;
        text-align: center;
        padding: 0 1em;
    }
    .address{
        justify-content: center;
        padding: 0 1em;
    }
    .icons{
        justify-content: center;
    }
    .icon{
        margin: 0 1rem;
    }
}
@media (max-width: 552px) {
    h1{
        font-size: 32px;
    }
    p{
        font-size: 16px;
    }
}
@media (max-width: 468px) {
    h1{
        font-size: 25px;
    }
}