header {
    display: flex;
    background-color: #fdd501;
    font-size: 1.1rem;
    width: 100%;
    overflow: hidden;
}

.logo-container {
    margin: 1rem 0 1rem 4rem;
    height: 80%;
}

.logo-container>img {
    height: 3rem;
}

.top-nav {
    position: relative;
    margin-left: auto;
    flex-basis: 70%;
}

.list-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    padding: 0.6rem 4rem;
    border-top-left-radius: 5rem;
    background-color: #fdfdfd;
}

.top-nav-links {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    outline: none;
    border: 1px solid #222222;
    border-radius: 8px;
    overflow: hidden;
}

.search-box>label {
    padding: 0.2rem 0.4rem;
    background-color: #fdd501;
}

#search-bar {
    font-size: 1.1rem;
    outline: none;
    border: none;
    padding: 0.2rem 0.4rem;
}

.top-nav-options {
    font-size: 0.9rem;
    border-radius: 0.4rem;
    outline: none;
    border: none;
    background-color: transparent;
}

.top-nav-link:link,
.top-nav-link:visited {
    color: #222222;
    transition: all 0.3s;
    padding: 0.2rem 0.4rem;
    border-bottom: 1px solid transparent;
}

.top-nav-link:active,
.top-nav-link:hover {
    border-bottom: 1px solid #fdd501;
    color: #fdd501;
}
