/* ---------------------------------------------------------- */
/* ---------------------- Hero --------------------- */
/* ---------------------------------------------------------- */

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}


/* ---------------------------------------------------------- */
/* ---------------------- Whatsapp --------------------- */
/* ---------------------------------------------------------- */

.whatsapp{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    border: 1px solid #fdd501;
    padding: 0.8rem;
    border-radius: 50%;
    z-index: 99;
    background: #fdd501;
}

.whatsapp img {
    height: 1.8rem;
    width: 1.8rem;
}

/* ---------------------------------------------------------- */
/* ---------------------- Hero Carousel --------------------- */
/* ---------------------------------------------------------- */

.hero-carousel-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all .5s;
}
.swiper {
    width: 100%;
    height: 100%;
}
.hero-carousel .swiper-pagination-bullet {
    background: transparent !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
    border: 2px solid #fdd501;
    border-radius: 50% !important;
    opacity: 0.4 !important;
    margin-bottom: 1.2rem !important;
    margin-right: 1.2rem !important;
    transition: all 0.4s !important;
}
.hero-carousel .swiper-pagination-bullet-active {
    background-color: #fdd501 !important;
    border: 2px solid #fdfdfd !important;
    opacity: 1 !important;
}

/* ---------------------------------------------------------- */
/* ---------------------- Stats --------------------- */
/* ---------------------------------------------------------- */

.stats-clip{
    clip-path: polygon(0 0, 100% 0, 100% 75%, 90% 100%, 0 100%, 0% 50%);
}

/* ---------------------------------------------------------- */
/* ---------------------- Package --------------------- */
/* ---------------------------------------------------------- */

.package-card{
    position: relative;
    border: 2px solid rgb(250 204 21);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.package-card::after, .package-card::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgb(250 204 21);
}
.package-card::before{
    clip-path: polygon(0 0, 0 100%, 100% 0);
    top: 0;
    left: 0;
}
.package-card::after{
    clip-path: polygon(100% 100%, 0 100%, 100% 0);
    bottom: 0;
    right: 0;
}

/* ---------------------------------------------------------- */
/* ---------------------- About --------------------- */
/* ---------------------------------------------------------- */

.about-img{
    position: relative;
    background-image: url("../images/About.jpg");
    background-position: center;
}
.about-img::after, .about-img::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
}
.about-img::before{
    clip-path: polygon(0 0, 0 100%, 100% 0);
    top: 0;
    left: 0;
}
.about-img::after{
    clip-path: polygon(100% 100%, 0 100%, 100% 0);
    bottom: 0;
    right: 0;
}


/* ---------------------------------------------------------- */
/* ---------------------- Services --------------------- */
/* ---------------------------------------------------------- */

.service {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/src/assests/images/pexels-field-engineer.jpg");
}

/* ---------------------------------------------------------- */
/* ---------------------- Service Carousel --------------------- */
/* ---------------------------------------------------------- */


.service-carousel {
    width: 80%;
}
.service .swiper-pagination-bullet {
    background: transparent !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
    border: 2px solid #fdd501;
    border-radius: 50% !important;
    opacity: 0.4 !important;
    margin-right: 1.2rem !important;
    transition: all 0.4s !important;
}
.service .swiper-button-prev, .service .swiper-button-next{
    color: #fdd501;
}
.service .swiper-pagination-bullet-active {
    background-color: #fdd501 !important;
    border: 2px solid #fdfdfd !important;
    opacity: 1 !important;
}
.service-carousel-responsive {
    display: none;
}

/* ---------------------------------------------------------- */
/* ---------------------- Responsive Views --------------------- */
/* ---------------------------------------------------------- */

@media only screen and (max-width: 1180px) {
    :root {
        font-size: 12px;
    }
    .service-carousel-card-content-info {
        width: 90%;
        padding: 1rem 0.5rem;
    }

    .service-carousel {
        width: 70%;
    }

}

@media only screen and (max-width: 1000px) {
    #section-services {
        display: block;
        height: auto;
    }

    .service-content {
        text-align: center;
    }

    .service-content {
        margin-top: 0;
    }

    .service-content .section-heading, .service-content .section-para,
    .plans-about-container .section-heading, .plans-about-container .section-para{
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    .service-carousel {
        width: 100%;
        padding: 0;
        margin-top: 4rem;
    }

    #section-products {
        grid-template-columns: 1fr;
        height: auto;
        align-items: normal;
    }

    #section-products .section-para {
        margin: 1.5rem auto;
    }

    .plans-about-container {
        order: 1;
        text-align: center;
    }

    .plans-container {
        height: 50vh;
        order: 2;
    }

}

@media only screen and (max-width: 720px) {

    #section-services {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        justify-content: left;
    }

    .service-carousel {
        display: none;
    }

    .service-carousel-responsive {
        display: block;
    }
    .plans-container {
        height: auto;
    }
}
