/* ---------------------------------------------------------- */
/* ---------------------- Hero --------------------- */
/* ---------------------------------------------------------- */

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.hero span {
    -webkit-text-stroke: 0.2px white;
}


/* ---------------------------------------------------------- */
/* ---------------------- Whatsapp --------------------- */
/* ---------------------------------------------------------- */

.whatsapp{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    border: 1px solid #031F60;
    padding: 0.8rem;
    border-radius: 50%;
    z-index: 99;
    background: #031F60;
}

.whatsapp img {
    height: 1.8rem;
    width: 1.8rem;
}

/* ---------------------------------------------------------- */
/* ---------------------- Hero Carousel --------------------- */
/* ---------------------------------------------------------- */

.hero-carousel-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all .5s;
}
.swiper {
    width: 100%;
    height: 100%;
}
.hero-carousel .swiper-pagination-bullet {
    background: transparent !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
    border: 2px solid #031F60;
    border-radius: 50% !important;
    opacity: 0.4 !important;
    margin-bottom: 1.2rem !important;
    margin-right: 1.2rem !important;
    transition: all 0.4s !important;
}
.hero-carousel .swiper-pagination-bullet-active {
    background-color: #031F60 !important;
    border: 2px solid #fdfdfd !important;
    opacity: 1 !important;
}

/* ---------------------------------------------------------- */
/* ---------------------- Stats --------------------- */
/* ---------------------------------------------------------- */

.stats-clip{
    clip-path: polygon(0 0, 100% 0, 100% 75%, 90% 100%, 0 100%, 0% 50%);
}

/* ---------------------------------------------------------- */
/* ---------------------- Booking --------------------- */
/* ---------------------------------------------------------- */

.package-card{
    position: relative;
    border: 2px solid #031F60;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.package-card::after, .package-card::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid #031F60;
    background-color: #031F60;
}
.package-card{
    background-color: white;
}
.package-card:nth-child(2){
    border: 2px solid white;
    color: white;
    background-color: #031F60;
}
.package-card:nth-child(2) strong{
    color: white;
}
.package-card:nth-child(2) a{
    background-color: white;
    color: #031F60;
}
.package-card:nth-child(2)::after, .package-card:nth-child(2)::before{
    background-color: white;
    border: 2px solid #031F60;
}


.package-card::before{
    clip-path: polygon(0 0, 0 100%, 100% 0);
    top: 0;
    left: 0;
}
.package-card::after{
    clip-path: polygon(100% 100%, 0 100%, 100% 0);
    bottom: 0;
    right: 0;
}
.package-card:hover::after , .package-card:hover::before{
    width: 60px;
    height: 60px;
    transition: .3s;
}

/* ---------------------------------------------------------- */
/* ---------------------- About --------------------- */
/* ---------------------------------------------------------- */

.about-img{
    position: relative;
    background-image: url("../images/services/FalseCeiling.jpg");
    background-position: center;
    clip-path: polygon(0 20%, 20% 0, 100% 0, 100% 80%, 80% 100%, 0 100%);
    border: 10px solid #eab308;
}


/* ---------------------------------------------------------- */
/* ---------------------- Service Carousel --------------------- */
/* ---------------------------------------------------------- */

.service-carousel {
    width: 60%;
    padding: 0 4rem;
}

.service .swiper {
    padding: 6rem 0;
}

.service-carousel-card {
    background: #031F60;
    border-radius: 22px;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 2rem;
    min-height: 50vh;
}

.service-carousel-card-img {
    height: 25vh;
    overflow: hidden;
}

.service-carousel-card-img img {
    scale: 1.05;
    min-height: 25vh;
    opacity: 0.8;
}

.service-carousel-card-content {
    background: #fdfdfd;
    position: relative;

}

.service-carousel-card-content-info {
    position: absolute;
    top: -1.5rem;
    left: 50%;
    row-gap: 1rem;
    transform: translateX(-50%);
    width: 80%;
    min-height: 20vh;
    border-radius: 15px;
    padding: 1rem 2rem;
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.service .swiper-slide {
    background: transparent;
}

.service-carousel .btn {
    padding: 0.6rem 2.4rem;
}

.service .swiper-button-prev, .service .swiper-button-next {
    color: #eab308
}

.service .swiper-pagination-bullet {
    background: transparent !important;
    width: 1rem !important;
    height: 1rem !important;
    border: 2px solid #031F60;
    border-radius: 50% !important;
    opacity: 0.4 !important;
    margin-right: 1.2rem !important;
    transition: all 0.4s !important;
}

.service .swiper-pagination-bullet-active {
    background-color: #031F60 !important;
    border: 2px solid #fdfdfd !important;
    opacity: 1 !important;
}

.service-carousel-mid, .service-carousel-mob {
    display: none;
}

/* ---------------------------------------------------------- */
/* ---------------------- Testimony --------------------- */
/* ---------------------------------------------------------- */

.review{
    padding: 32px 32px 64px 32px;
    position: relative;
}
.review span{
    font-family: "dubai";
}

/* ---------------------------------------------------------- */
/* ---------------------- Responsive Views --------------------- */
/* ---------------------------------------------------------- */

@media only screen and (max-width: 1180px) {
    :root {
        font-size: 12px;
    }
    .service-carousel-card-content-info {
        width: 90%;
        padding: 1rem 0.5rem;
    }

    .service-carousel {
        width: 70%;
    }

}

@media only screen and (max-width: 1024px) {
    .service {
        display: block;
        height: auto;
    }

    .service-content {
        text-align: center;
    }

    .service-content {
        margin-top: 0;
    }

    .service-content .section-heading, .service-content .section-para,
    .plans-about-container .section-heading, .plans-about-container .section-para{
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    .service-carousel {
        width: 90%;
        margin: 4rem auto 0;
        padding: 0;
    }

    #section-products {
        grid-template-columns: 1fr;
        height: auto;
        align-items: normal;
    }

    #section-products .section-para {
        margin: 1.5rem auto;
    }
}

@media only screen and (max-width: 1400px) {

    .service {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        justify-content: left;
    }

    .service-carousel {
        display: none;
    }

    .service-carousel-mid {
        width: 60%;
        margin: 0 auto;
        display: block;
    }

    .plans-container {
        height: auto;
    }
    .hero-carousel .swiper-pagination{
        display: none;
    }
}

@media only screen and (max-width: 1000px){
    .service-carousel-mid {
        width: 90%;
        margin: 0 auto;
        display: block;
    }
}

@media only screen and (max-width: 480px) {
    .service-carousel-mid {
        display: none;
    }

    .service-carousel-mob{
        display: block;
        width: 80%;
        margin: 0 auto;
    }
}
