.section-main {position: relative}

.hero-content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    position: absolute;
    height: 100%;
    width: 50%;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fdfdfd;
    left: 0;
    top: 0;
    z-index: 1;
}

.hero-content h1 {
    font-size: 3.6rem;
    max-width: 75%;
    margin-bottom: 5rem;
}

.hero-content p {
    font-size: 1.2rem;
    max-width: 80%;
    margin-bottom: 4rem;
}

.hero-content h1>span {
    color: #fdd501;
}

.carousel-container {
    width: 100vw;
    height: 91vh;
    overflow: hidden;
    position: relative;
}

.carousel-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 91vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all .5s;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet {
    background: transparent !important;
    width: 2.5rem !important;
    height: 2.5rem !important;
    border: 2px solid #fdd501;
    border-radius: 50% !important;
    opacity: 0.4 !important;
    margin-bottom: 1.2rem !important;
    margin-right: 1.2rem !important;
}

.swiper-pagination-bullet-active {
    background-color: #fdd501 !important;
    border: 2px solid #fdfdfd !important;
    opacity: 1 !important;
}
