#section-service {
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bcc4d2;
}

.single-service-container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    padding: 6rem 10%;
    border-radius: 2rem;
    box-shadow: 0 6px 8px #4d5056;
    background-color: #f6f6f6;
}

input {
    outline: none;
    text-decoration: none;
    background: transparent;
    border: none;
}

/* ---------------------------------------- */
/* --------- About Service --------- */
/* ---------------------------------------- */

.service-about {
    width: 90%;
    margin: 0 auto;
}

.service-image {
    background: #031f60;
    overflow: hidden;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.service-image img {
    width: 100%;
    transform: scale(1.05);
    opacity: 0.8;
    clip-path: polygon(0 25%, 17% 0, 100% 0, 100% 75%, 83% 100%, 0 100%);
}

/* ---------------------------------------- */
/* --------- Service Form --------- */
/* ---------------------------------------- */

.service-form {
    margin: 2rem auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.service-price {
    width: 80%;
    margin: 2rem auto;
}

.service-label {
    width: 80%;
    padding: 1rem 2rem;
    border: 2px solid #031f60;
    margin-bottom: 2rem;
    border-radius: 15px;
}

.service-label i {
    color: #031f60;
}

.service-label input {
    color: #02153f;
    margin-left: 1.2rem;
}

.form-submit-btn {
    width: 80%;
    padding: 1rem;
    border-radius: 15px;
    border: 2px solid #031f60;
    color: #031f60;
    transition: all 0.3s;
}

.form-submit-btn:hover {
    background-color: #031f60;
    color: #fff;
}

@media only screen and (max-width: 1024px) {
    .service-label{
        width: 90%;
        padding: 0.8rem 1.7rem;
        margin-bottom: 1rem;
    }

    .form-submit-btn {
        width: 90%;
        padding: 0.8rem;
    }

}

@media only screen and (max-width: 840px) {
    .service-price {
        margin: 1rem ;
    }

    .service-about {
        width: 100%;
    }
    .service-label{
        width: 100%;
        padding: 0.8rem 0 0.8rem 1.2rem;
        margin-bottom: 1rem;
    }

    .service-label input {
        width: 80%;
    }

    .form-submit-btn {
        width: 100%;
        padding: 0.4rem;
    }
}

@media only screen and (max-width: 560px) {
    .single-service-container {
        grid-template-columns: 1fr;
    }
}
