@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    padding: 0;
}
ul {
    list-style: none;
    text-decoration: none;
}
a { text-decoration: none; }
